
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');


@import "tailwindcss";

@plugin "daisyui"{
  themes: retro --default, dim ;
};


@theme{

  --font-roboto:"Roboto Condensed";
  --font-playwrite:"Playwrite IE", cursive;
  --font-saira:"Saira Stencil", sans-serif;

}

body{
  font-family: var(--font-roboto);
}


